<%- include('includes/nav')%>
<%- include('includes/head')%>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">
        Agenda
      </h1>
      <p class="text-center lead">Seus contatos estao abaixo</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Kelvyn</td>
            <td>Reis</td>
            <td>65468465156</td>
            <td>kelvyn@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer')%>


    